body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f2548;

}
#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
#left-content{
    width: 260px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    background-color: #171f38;
}
.user-info{
    display: flex;
    height: 50px;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 0 black;
    background-color: #2d395c;
    
}
.user-logo{
    width: 55px;
    height: 50px;
    background: linear-gradient(to right,rgb(83, 83, 255),rgb(149, 0, 198));
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: block;
}
.email{
    color: #c3c3c3;
}
.dash{
    color: #adadad;
    font-size: small;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav > div{
    width: 70%;
    margin-left: 20px;
    text-align: left;
    padding: 10px 20px;
    font-size: small;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.nav > div:hover{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;   
    cursor: pointer;
}
#main-content{
    width: 100%;
    overflow: hidden;
    height: 700px;
}
.heading{
    display: flex;
    width: 100%;
    border-left: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: #2d395c;
    padding: 20px;
    color:  rgb(195, 66, 255);
    font-size: medium;
    font-weight: bold;
}
button{
    position: absolute;
    right: 50px;
    background-color: #2d395c;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 3px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.main-dash{
    font-family: Arial, sans-serif; 
    margin: 50px ;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height: 65%;
    background-color: #1f2548;
    color: white;
    padding: 30px;
    padding-top: 30px;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid rgb(80, 100, 181);
    transition: box-shadow 0.3s;
}
.main-dash:hover{
    box-shadow: 0 0 5px rgb(80, 100, 181);

}
h1{
   padding: 0;
   font-size: 20px;

}
p{
    font-size: smaller;
    color: #adadad;
    padding-bottom: 20px;
}
.card{
    display: flex;

    
}
.card > div{
    width: 180px;
    height: 100px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #161f40;
    padding: 20px;
   
}
.card > div:hover{
    box-shadow: 0 0 10px  rgb(80, 100, 181);

}
.text{
    font-size: small;
    padding-top: 5px;
}
.msg{
    font-size: x-small;
    color: #adadad;
}
.hr1{
    width:"100%";
    border: none;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(81, 194, 255);
}
.hr3{
    width:"100%";
    border: none;
    height: 3px;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(81, 194, 255) 10%, #4a4a4a 80%);
} 
.hr4{
    width:"100%";
    border: none;
    height: 3px;
    border-radius: 3px;
    background: linear-gradient(to right,  rgb(81, 194, 255) 80%, #4a4a4a 20%);
} 
.quick{
    font-size: medium;
    padding-top: 20px;

}
.card2{
    display: flex;    
}
.card2 > div{
    text-align: center;
    width: 390px;
    height: 100px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #161f40;
    padding: 20px;
    margin-bottom: 10px;
}
.card2 > div:hover{
    box-shadow: 0 0 10px  rgb(80, 100, 181);

}
.l-txt{
    color: black;
    font-size: medium;
    font-weight: bolder;
    padding: 8px;
}
.l-txt2{
    color: #adadad;
    font-size: smaller;
}
.hr3{
    margin-top: 18px;
}
#Overview.active{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;

}