body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2548;
   

}
#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    

}
#left-content{
    width: 260px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    background-color: #171f38;
    
}
.user-info{
    display: flex;
    height: 50px;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 0 black;
    background-color: #2d395c;
    
}
.user-logo{
    width: 55px;
    height: 50px;
    background: linear-gradient(to right,rgb(83, 83, 255),rgb(149, 0, 198));
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: block;
}
.email{
    color: #c3c3c3;
}
.dash{
    color: #adadad;
    font-size: small;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav > div{
    width: 70%;
    margin-left: 20px;
    text-align: left;
    padding: 10px 20px;
    font-size: small;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.nav > div:hover{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;   
    cursor: pointer;
}
#main-content{
    width: 100%;
    /* overflow: hidden; */
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.heading{
    display: flex;
    width: 100%;
    border-left: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: #2d395c;
    padding: 20px;
    color:  rgb(195, 66, 255);
    font-size: medium;
    font-weight: bold;
}
button{
    position: absolute;
    right: 50px;
    background-color: #2d395c;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 3px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.main-dash{
    font-family: Arial, sans-serif; 
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 91%;
    height: 600px;
    background-color: #171f38;
    color: white;
    padding: 30px;
    padding-top: 30px;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid rgb(80, 100, 181);
    transition: box-shadow 0.3s;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-dash:hover{
    box-shadow: 0 0 5px rgb(80, 100, 181);
}
.head{
    margin-top: 0px;
}
.prefer{
    margin-top: 2px;
}
.inp-div{
    display: flex;
}
.inp-div > div{
    margin-right: 10px;
    margin-bottom: 15px;
}
.password{
    width: 470px;
    padding: 8px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
label{
    font-size: smaller;
    font-weight: bold;
}
.add{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.bulb{
    margin-top: 3px;
    margin-left: 15px;
    font-weight: bold;
}
.street{
    margin-top: 20px;
}
.address{
    width: 970px;
    padding: 8px;
    padding-bottom: 30px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.abc,.xyz{
    border: 1px solid rgb(141, 141, 142);
    position: absolute;
    right: 185px;
    width: 150px;
    height: 38px;
    border-radius: 10px;
    font-size: smaller;
    margin-top: 15px;
    cursor: pointer;
    background-color:#171f38;
    
     
}
.xyz{
    
    position: absolute;
    right: 23px; 
    background-color:rgb(48, 105, 227)
   
}

input:focus{
    border: 3px solid rgb(48, 105, 227);
    box-shadow: 0 0 5px rgb(80, 100, 181);
    outline: none;
}
#Profile.active{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;
}
.button{
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding-top: 5px;
}

#saved{
    width: 620px;
    padding: 8px ;
    margin-top: 10px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: green;
}