body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2548;

}
#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
#left-content{
    width: 260px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    background-color: #171f38;
}
.user-info{
    display: flex;
    height: 50px;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 0 black;
    background-color: #2d395c;
    
}
.user-logo{
    width: 55px;
    height: 50px;
    background: linear-gradient(to right,rgb(83, 83, 255),rgb(149, 0, 198));
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: block;
}
.email{
    color: #c3c3c3;
}
.dash{
    color: #adadad;
    font-size: small;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav > div{
    width: 70%;
    margin-left: 20px;
    text-align: left;
    padding: 10px 20px;
    font-size: small;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.nav > div:hover{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;   
    cursor: pointer;
}
#main-content{
    width: 100%;
    overflow: hidden;
}
.heading{
    display: flex;
    width: 100%;
    border-left: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: #2d395c;
    padding: 20px;
    color:  rgb(195, 66, 255);
    font-size: medium;
    font-weight: bold;
}
button{
    position: absolute;
    right: 50px;
    background-color: #2d395c;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 20px;
    padding: 3px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.main-dash{
    font-family: Arial, sans-serif; 
    margin: 50px ;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height: 65%;
    background-color: #171f38;
    color: white;
    padding: 30px;
    padding-top: 30px;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid rgb(80, 100, 181);
    transition: box-shadow 0.3s;
    
}
.main-dash:hover{
    box-shadow: 0 0 5px rgb(80, 100, 181);
}
.head{
    margin-top: 0px;
}
.prefer{
    margin-top: 2px;
}
.state{
    font-size: smaller;
    margin-top: -1px;
    color: #adadad;
    margin-bottom: 20px;
}
.inp-div{
    display: flex;
}
.inp-div > div{
    margin-right: 10px;
    margin-bottom: 15px;
}
.password{
    width: 420px;
    padding: 8px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
.pass{
    width: 870px;
    padding: 8px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
label{
    font-size: smaller;
    font-weight: bold;
}
.updates{
    position: relative;
    height: 50px;
}
button[type="button"]{
    position: absolute;
    font-size: xx-small;
    padding: 8px 12px;
    border-radius: 10px;
}
#update{
    right: 8px;
    margin-top: 15px;
    background-color: #3B82F6;
    border: none;
}
#clear{
    right: 120px;
    margin-top: 15px;
    background-color: #171f38;
    border: 1px solid rgb(85, 85, 85);
}
.last-div{
    width: 100%;
    border-top: 1px solid rgb(85, 85, 85);
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
}
.card > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 290px;
    height: 65px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #1b264e;
}
.card > div:hover{
    box-shadow: 0 0 10px  rgb(80, 100, 181);
}
.msg1{
    font-size: small;
}
.msg2{
    font-size: xx-small;
    color: #adadad;
}
#Security.active{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;
}
input:focus{
    border: 3px solid rgb(48, 105, 227);
    box-shadow: 0 0 5px rgb(80, 100, 181);
    outline: none;
}
#popup{
     position: absolute; 
    left: 0px;
    display: none;
    width: 620px;
    padding: 5px ;
    margin-top: 10px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: green;
    font-size: small;

}